.full-body header{
    height: 100px;
    background-color: var(--background-color);
}

.header{
    display: flex;
    justify-content: space-between;
}
.left-header{

}

.img-login-left-header{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}

.background-name-img-login{
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
}

.img-login{
    height: 46px;
    width: 47px;
    border-radius: 50%;
    background-color: var(--red-color);
    margin: auto;
}

.name-img-login{
    text-decoration: none;
    color: inherit;
}

.info1-left-header{
    text-decoration: none;
    color: var(--while-color);
    font-size: 20px;
}

.info2-left-header{
    text-decoration: none;
    color: var(--while-color);
}

.main-info-left-header{
    margin-left: 10px;
}

.name-left-header{
    margin: auto;
    margin-bottom: 5px;
}

.suport-left-header{
    margin: auto;
}

.right-header{
    display: flex;
}

.content-right-headder{
    list-style: none;
    display: flex;
    color: var(--while-color);
}

.content-right-headder li p{
    padding: 0 24px;
    font-size: 20px;
}

.content-right-headder li:hover p{
    cursor: pointer;
}
