
/*Header*/
.full-body header{
    height: 100px;
    background-color: var(--background-color);
}

.header{
    display: flex;
    justify-content: space-between;
}
.left-header{

}

.img-login-left-header{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}

.background-name-img-login{
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
}

.img-login{
    height: 46px;
    width: 47px;
    border-radius: 50%;
    background-color: var(--red-color);
    margin: auto;
}

.name-img-login{
    text-decoration: none;
    color: inherit;
}

.info1-left-header{
    text-decoration: none;
    color: var(--while-color);
    font-size: 20px;
}

.info2-left-header{
    text-decoration: none;
    color: var(--while-color);
}

.main-info-left-header{
    margin-left: 10px;
}

.name-left-header{
    margin: auto;
    margin-bottom: 5px;
}

.suport-left-header{
    margin: auto;
}

.right-header{
    display: flex;
}

.content-right-headder{
    list-style: none;
    display: flex;
}

.content-right-headder li p{
    padding: 0 24px;
    font-size: 20px;
}

.content-right-headder li:hover p{
    cursor: pointer;
}

.page-right-header p{
    color: var(--red-color);
}

.service-right-header{
    color: var(--while-color);
}
.introduce-right-header{
    color: var(--while-color);
}
.contact-right-header{
    color: var(--while-color);
}

.myself{
    background-color: var(--while-color);
    display: flex;
    position: relative;
    bottom: 158px;
    width: 940px;
    height: 514px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/*body*/
.img-1{
    width: 100%;
    height: 595px;
}
.img-2{
    width: 306px;
    height: 363px;
    margin: 80px;
}

.info-slogan-myself{
    height: 514px;
    width: 940px;
}

.slogan-myself{
    FONT-SIZE: 22PX;
    font-family: sans-serif;
    margin-top: 40px;
    margin-top: 90px;
    line-height: 2.8rem;
}

.info-myself{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8rem;
}

.font-info-family{
    margin: 50px 0px;
    width: 75%;
}

.main-cover-img-body{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 230px;
    text-align: center;
}

.slogan-body{
    line-height: 2.1em;
    font-size: 25px;
}

.content-body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 33px;
}

.a-btn-service{
    text-decoration: none;
}

.span-btn-service{
    background-color: var(--red-color);
    padding: 8px 25px;
    font-size: larger;
    color: rgb(57, 65, 73);
}

.span-btn-service:hover{
    background-color: var(--while-color);
}

.service{
    position: relative;
    text-align: center;
    bottom: 70px;
}

.slogan-service{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.text-service{
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.small-up-title-service{
    display: flex;
    margin: 0% 5%;
    margin-bottom: 70px;
    justify-content: center;
}
.small-up1-title-service{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}
.small-1-title-service{
    width: 30%;
}
.bi{
    font-size: 30px;
}
.small-1h-title-service{
    width: 185px;
    font-size: 23px;
    font-weight: 100;
    margin: 15px 0px;

}
.small-1p-title-service{
    width: 275px;
    height: 135px;
    line-height: 1.4rem;
    font-size: larger;
}
.l-small-service{
    height: 100%;
    width: 1px;
    background-color: #333;
    margin-left: 50px;
}
.title-service-readmore{
    text-align: center;
    margin-bottom: 100px;
}

.readmore-btn-service{
    background-color: var(--red-color);
    padding: 8px 25px;
    font-size: larger;
    color: rgb(57, 65, 73);
    text-decoration: none;
}
.readmore-btn-service:hover{
    background-color: #333;
    color: var(--while-color);
}

.up-believe{
    text-align: center;
    height: 257px;
    background-color: var(--background-color);
    font-size: 25px;
    color: var(--while-color);
    font-family: Arial, Helvetica, sans-serif;
    padding: 70px 0px 0px 0px;
}
.span-up-believe{
    margin-top: 128px;
}

.down-believe{
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 13%;
}
.size-down-believe{
    width: 245px;
    height: 365px;
}
/*Footer*/
.footer{
    justify-content: center;
    text-align: center;
}

.content-footer{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: var(--background-color);
    color: var(--while-color);
}

.top-content-footer{
    margin: 15px;
}
.down-content-footer{
    
}
